{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.diari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:mainMenu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="ad-inicio-principal">
            <p>Hello diari world!</p>
            <p>Estas en diari</p>
        </div>
    </div>
{% endblock %}